<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>pfu</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>mpt_report.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UsersByTime</servlet-name>
    <servlet-class>mpt_report.UsersByTime</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsersByTime</servlet-name>
    <url-pattern>/UsersByTime</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>uat5_db_url</param-name>
    <param-value>jdbc:oracle:thin:@10.30.110.93:1521:finnuat5</param-value>
  </context-param>
  <context-param>
    <param-name>uat5_db_username</param-name>
    <param-value>cfappsup</param-value>
  </context-param>
  <context-param>
    <param-name>uat5_db_password</param-name>
    <param-value>cfappsupuat5</param-value>
  </context-param>
  <context-param>
    <param-name>prod_db_url</param-name>
    <param-value>jdbc:oracle:thin:@10.30.110.10:1521:feproddb1</param-value>
  </context-param>
  <context-param>
    <param-name>prod_db_username</param-name>
    <param-value>cfappsup</param-value>
  </context-param>
  <context-param>
    <param-name>prod_db_password</param-name>
    <param-value>AS2016</param-value>
  </context-param>
  <context-param>
    <param-name>uat5_db_pega_url</param-name>
    <param-value>jdbc:oracle:thin:@10.30.128.112:1521:UATLOS1</param-value>
  </context-param>
  <context-param>
    <param-name>uat5_db_pega_username</param-name>
    <param-value>cpm</param-value>
  </context-param>
  <context-param>
    <param-name>uat5_db_pega_password</param-name>
    <param-value>passw0rd</param-value>
  </context-param>
  <context-param>
    <param-name>prod_db_pega_url</param-name>
    <param-value>jdbc:oracle:thin:@(DESCRIPTION=    (ADDRESS_LIST=   (ADDRESS=(PROTOCOL=TCP)(HOST=10.30.133.90)(port=1521))   (ADDRESS=(PROTOCOL=TCP)(HOST=db-dr89.deltavn.vn)(port=1521)) )(FAILOVER=on) (LOAD_BALANCE=off) (CONNECT_DATA=   (SERVER=DEDICATED)(SERVICE_NAME=PRODDB) ))</param-value>
  </context-param>
  <context-param>
    <param-name>prod_db_pega_username</param-name>
    <param-value>cpm</param-value>
  </context-param>
  <context-param>
    <param-name>prod_db_pega_password</param-name>
    <param-value>passw0rd</param-value>
  </context-param>
</web-app>